#holder{
    color: black;
    background-color: white;    
    min-height: 100vh;      
    display: flex;
}

#title{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 4px;
    font-weight: 400;
    font-size: 44px;
    color: #606060;
} 

.row{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

#spacer{
    width: 80%;
    margin-left: 10%;
    height: 2px;
}


#total{
    font-weight: 500;
    bottom: 0px;
    text-align: center;
    padding-bottom: 30px;
}

#checkout-btn{
    width: 150px;
}

#cart{
    width: 300px;
    position: fixed;
    right: -400px;
    box-shadow: -4px 4px 30px #303030;
    top: 0px;
    overflow-y: scroll;
    height: 100vh;
}

.cartShowing{
    right: 0 !important;
}

.cartShowingSmall{
    right: 0 !important;
}

.close{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DDD;
}

.open{
    display: flex;
    align-items: center;
    background: #DDD;
    width: 30px;
    position: fixed;
    height: 100vh;
    right: 0px;
    box-shadow: -4px 4px 30px #303030;
    top: 0px;
}

#count{
    text-align: center;
    margin-top: 15px;
}

#icon{
    background-color: #F4C858;
    border-radius: 500px;
    display: inline-block;
    width: 30px;
    line-height: 30px;
    height: 30px;
    color: black;
}

#checkoutBtnHolder{

    text-align: center;
    padding: 20px;
}

h1{
    margin-left: 10px;
}