<div *ngIf="cart.orderItems.length > 0" fxShow.gt-md="false" class="open" (click)="openCart()">
    <div>
        <div style="transform: rotate(90deg)">Cart</div>
        <div id="count">
            <div id="icon">
                {{cart.orderItems.length}}
            </div>
        </div>
    </div>

</div>
<div id="cart" [ngClass.lt-md]="{cartShowingSmall : showingCart}" [ngClass.gt-md]="{cartShowing : cart.orderItems.length > 0}">
    <div id="holder">
        <div fxShow.gt-md="false" (click)="closeCart()" class="close">

            <i class="material-icons">arrow_forward</i>
        </div>
        <div>
            <div id="title"> Your Order</div>

        <blu-cart-table></blu-cart-table>

            <div id="total">
                <!-- <div class="row">
                    <div class="label">
                        Total:
                    </div>
                    <div class="label">
                        {{cart.total | currency:'USD':true}}
                    </div>
                </div>                 -->

            </div>
            <div id="checkoutBtnHolder">
                <button id="checkout-btn" (click)="checkout()"> Checkout Now</button>
            </div>
        </div>
    </div>
</div>