<div id="table">
    <div class="tableItem" *ngFor="let item of cart.orderItems">
        <div *ngIf="item.name">
            <span class="label">Item</span> {{item.name}}
        </div>
        <div *ngIf="!item.name">
            <span class="label">Item</span> {{item.description  | maxCharLength: 100}}
        </div>
        <div>
            <span class="label">From</span>{{item.locationDescription | maxCharLength: 100}}
        </div>
        <div *ngIf="item.price">
            <span class="label">Price</span> {{item.price | currency:'USD':true}}
        </div>
    </div>
    <!-- <div class="row">
        <div class="label">
            Delivery Fee
        </div>
        <div class="label">
            $3.50
        </div>
    </div> -->
</div>
