#holder{
    height: 100vh;
}

#contain{
    width: 500px;
}

#payment{    
    width: 500px;
    background-color: #AAA;
    padding-left: 30px;
}




button{
    width: 360px;
    height: 30px;
}

.section{
    width: 500px;
    padding: 10px;
    background-color: white;
    color: black;
    margin: 10px;
}



.paymentOptions{
    width: 100px;
    margin: 4px;
}

.selected{
    border: solid 2px white;
    transform: scale(1.1);
}