<div id="holder">
  <div id="contain">
    <app-cart [checkoutBtn]="false" id="cart"></app-cart>
  </div>
  <div style="display: none" id="payment" class="section">
    <div id="title">
      Payment
    </div>
    Card Number<br>
    <input [(ngModel)]="cardNumber" type="text"><br> Expireation Month<br>
    <input [(ngModel)]="expiryMonth" type="number"><br> Expireation Year<br>
    <input [(ngModel)]="expiryYear" type="number"><br> CVC
    <br>
    <input [(ngModel)]="cvc" type="number">
    <br> {{message}}<br>
    <button (click)="getToken()">Send info to Stripe</button>
  </div>

  <div id="customerInfo"  class="section">
    <div id="title">
      Your Info
    </div>


    Name<br>
    <input [(ngModel)]="customer.name" type="text">
    <br>Phone Number<br>
    <input [textMask]="{mask: aPhoneMask}" [(ngModel)]="customer.phone" type="text">
    <br> Email <br>
    <input [textMask]="{mask: aEmailMask}" [(ngModel)]="customer.email" type="text">
    <br> Place of Delivery <br>
    <textarea [(ngModel)]="deliveryLocation" type="text"></textarea>
    <br> Payment type (cash) or (e transfer)

  </div>






</div>