<div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
  <div>
    <div id="parterneredTitle">
      Parternered Restaurants
    </div>
    <div class="option" id="parternered">
      <div>
        <div>
          Mercante
        </div>
        <div class="buttonHolder">
          <button>Order now</button>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-top: 29px;">
    <div class="option" id="everythingElse">
      <div class="title">
        Everything Else
      </div>
      <div class="buttonHolder">
        <button (click)="orderNow('everythingElse')">Order now</button>
      </div>
    </div>
  </div>
</div>