#parternered{

}

#contain{
    display: flex;
    justify-content: center;
    align-items: center;
}



button{
    width: 100px;
    font-weight: 700;
}

.option{
    position: relative;
    width: 440px;
    min-height: 230px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#parterneredTitle{
       text-align: center;
        font-weight: bold;
        font-size: 24px;
}

.buttonHolder{
    position: absolute;
    margin: 15px;
    bottom: 0px;
    right: 0px;
    text-align: right;
}