#parternered{

}


#everythingElse{
    margin-top: 49px;
}


.option{
    position: relative;
    text-align: center;
    /* background-color: white; */
    color: white;
    margin: 20px;
    min-height: 200px;
    border-radius: 5px;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
    padding: 10px;
}

#parterneredTitle{
       text-align: center;
        font-weight: bold;
        font-size: 24px;
}

.buttonHolder{
    position: absolute;
    margin: 15px;
    bottom: 0px;
    right: 0px;
    text-align: right;
}

.about{
    text-align: left;
    font-size: 12px;

}

.locationName{
    text-align: left;
}

.mercanteBack{
    position: fixed;
    width: 50%;
    height: 100vh;
    background-image: url('/assets/background_mercante.jpg');
    background-repeat: no-repeat;
    background-size: auto 100vw;
    top: 0;
    z-index: -1;    
    left: 0;    
}