<app-cart></app-cart>
<div [ngClass.gt-md]="{cartShowingSearch : cart.orderItems.length > 0}">
  <div class="paper" class.gt-md="paper-gt-md paper">

     <h1>All other locations</h1> 

    <div>
      <div class="question"> Where do you want to order from? <span class="subtext"> We deliver from anywhere on campus, University Village and Westbrook Village</span> </div>
      <textarea [(ngModel)]='aOrderItem.locationDescription' rows="5" cols="75">                             
    </textarea>
    </div>
    <div>
      <div class="question">
        Which items can we get you?<span class="subtext"> Please be specific</span>
      </div>

      <textarea [(ngModel)]='aOrderItem.description' rows="5" cols="75">                             
    </textarea>

    </div>
    <div>
      <div class="question">
        Order Alternitives? <span class="subtext"> Just in case of issues with first location/item</span>
      </div>
      <textarea [(ngModel)]='aOrderItem.alternativeItemDescription' rows="5" cols="75">                             
    </textarea>

    </div>
    <button [disabled]="!aOrderItem.description || !aOrderItem.locationDescription" (click)="addItemToCart()">Add</button>
  </div>


</div>