<p>
  faq works!
</p>


<div>

  <div> What is blu? </div>
  We are an on-campus student-run and student-serving delivery service.
  <div> What do we deliver and from where? </div>
  We purchase pick up and deliver anything you need. We deliver anything from food and drink, to textbooks and mail. We deliver
  from all on-campus restaurants and stores as well as University Village and Wesbrook Village.
  <div> Do you Deliver Alcohol? </div>
  Yes, however you must be 19+ years of age to order and we will check for two pieces of gov't issued I.D. upon delivery.
  <div>How do I order? </div>
  Simply go to Bludelivery.ca and let us know what we can get you!
  <div>How much does it cost? </div>
  We have a flat rate of $4.5 for each delivery on-campus and from university village and $5 for wesbrook village. In case
  of an addition of a location or item to a delivery, we charge an extra $2.
  <div>Accepted forms of payment? </div>
  Currently Cash and E-transfer. We will taking debit and credit cards in September.
  <div>How long does each delivery take? </div>
  A delivery takes approximately 25 minutes.
</div>