#logo{
        margin: 30px;
        display: inline-block;
        position: absolute;
}

#searchBarContain{
        display: flex;   
        justify-content: center;
        width: 100%;
}

#label{
        text-align: left;
        font-weight: 500;
        margin-bottom: 7px;

}

#line{
        margin-top: 14px;
        width: 100%;
        height: 2px;
        background-color: white;
}

#content{
        padding-top: 20px;
}

#searchBox{
        width: 525px;
        height: 54px;
        border-radius: 3px;
            font-size: 14px;
}

#loading{
        text-align: center;
        margin: 10px;
}

#cart{
        position: fixed;
    right: -10000px;
}

.cartShowing{
        right: 0px !important;
}

.cartShowingSearch{
       width: calc(100% - 300px) !important;
}