<div id="logo">
  <img src="assets/logo_b_sm.png"><br>
  <button (click)="logout()">logout</button>
</div>

<app-cart [ngClass]="{cartShowing : cart.orderItems.length > 0}" id="cart"></app-cart>

<div id="searchBarContain" [ngClass]="{cartShowingSearch : cart.orderItems.length > 0}">
  <div>
    <div [@searchPosition]="state" id="content">
      <div id="label"> What can we get you today? </div>
    </div>
    <input id="searchBox" [ngModel]="searchText" (ngModelChange)="onSearch($event)" type="text">

    <div *ngIf="state == 'searching'">
      <div id="line">
      </div>
      <div id="loading" *ngIf="loading">
        Loading...
      </div>

      <div *ngFor="let product of productList | async">
        <app-product-info-card [product]="product"></app-product-info-card>
      </div>
    </div>

  </div>
</div>