<div id="holder">

  <div id="content">
    <div id="logo">
      <img src="assets/logo_b.png">
    </div>

    <div class="outBox">
      <div class="innerBox">
        <div class="aControl">
          <label class="inputLabel">Email</label>
          <input type="text">
        </div>
        <div class="aControl">
          <label class="inputLabel">Password</label>
          <input type="password">
        </div>
        <div class="buttons aControl">
          <button>Sign Up</button>
          <button>Log In</button>
        </div>
      </div>


    </div>


  </div>


</div>