<div id="logo">
  <div>
    <img routerLink="/home" id="logo-img" src="assets/logo_b_sm.png">
    <span routerLink="/home" class="tlink" style="margin-left: 20px;">
    Home
  </span>
    <span routerLink="/faq" class="tlink" style="margin-left: 20px;">
    FAQ
  </span>
    <span routerLink="/employment" class="tlink" style="margin-left: 20px;">
    Employment
  </span>
  </div>
  <div style="font-weight: 500; font-size: 20px; text-align: center;">
    JUMPSTART PROMOTION! All deliveries to first year residences are $3.50 until SEPTEMBER 1st
  </div>

</div>

<router-outlet></router-outlet>


<div class="footer">
  <!-- <div class="lnk" routerLink="/about">
    About
  </div> -->
  <div class="lnk">
    <a href="https://www.facebook.com/BluDelivery/"> Facebook</a>
  </div>
  <div class="lnk">
    <a href="https://www.instagram.com/bludelivery/"> Instagram</a>
  </div>

</div>


<div id="background">
</div>