
#background{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(130deg, #1D79AF 0%, #030A21 100%);
    /* background-image: url("../assets/bg.png");     */
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#logo{
        margin: 30px;
        display: inline-block;
        position: absolute;
}
