<div id="logo">
  <img routerLink="/home" id="logo-img" src="assets/logo_b_sm.png">
  <span routerLink="/home" class="tlink" style="margin-left: 20px;">
    Home
  </span>
</div>

<router-outlet></router-outlet>


<div class="footer">
  <!-- <div class="lnk" routerLink="/about">
    About
  </div> -->
  <div class="lnk" routerLink="/faq">
    FAQ
  </div>

  <div class="lnk">

    <a href="https://www.facebook.com/BluDelivery/"> Facebook</a>
  </div>
  <div class="lnk">
    <a href="https://www.instagram.com/bludelivery/"> Instagram</a>
  </div>

</div>


<div id="background">
</div>