<app-cart ></app-cart>
<div [ngClass.gt-md]="{cartShowingSearch : cart.orderItems.length > 0}">
  <div class="paper" class.gt-md="paper-gt-md paper">

      <h1> {{location?.name}}</h1>
    <div id="description">
      {{location?.description}}
    </div>
    <div id="menu">
      <div *ngFor="let item of menuItems | async" class="menuItem">
        <div class="menuItemTitle"> {{item.name}} | {{item.price | currency:'USD':true}} </div>
        <div class="menuItemDescription">
          {{item.description}}
        </div>
        <div class="buttonHolder">
          <button (click)="addItemToCart(item)">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>