<div id="logo">
  <img src="assets/logo_b_sm.png">
</div>

<div id="searchBarContain">
  <div>
    <div [@searchPosition]="state" id="content">
      <div id="label"> What can we get you today? </div>
    </div>
    <input id="searchBox" [ngModel]="searchText" (ngModelChange)="onSearch($event)" type="text">

    <div *ngIf="state == 'searching'">
      <div id="line">
      </div>
      <div id="loading" *ngIf="loading">
        Loading...
      </div>
    </div>

  </div>
</div>
<app-cart></app-cart>