/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

body{
      font-weight: 300;
      margin: 0;
      border: 0;
      color: white;
      font-family: 'Montserrat', sans-serif;
}

Input{
      background-color: white;
      
}


button{
    //  background: linear-gradient(0deg, #E4F087 0%, #FC9C5D 100%);
     background-color: #FC9C5D;
     border: none;
     color: white;
     width: 70px;
    height: 30px;
    border-radius: 4px;
}


button:hover {  
  box-shadow: 0 0 1pt .75pt  white inset;    
}